html,
body {
    margin: 0;
    padding: 0;
}

#form_signUp {
    width: 100%;
}

#form_signUp form {
    max-width: 460px;
    border: 8px solid white;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 0px 30px 30px -20px rgb(209, 209, 189);
    opacity: 0.9;
    margin: 10px auto;
}

h2 {
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

input[type="date"],
#gender {
    height: 30px;
    border: none;
    box-shadow: 0px 10px 10px -5px rgb(219, 219, 196);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
#gender:focus {
    border: 3px solid #e1cc13;
    outline: none;
}

/* Style cho các input */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {

    width: calc(100% - 12px);
    /* Trừ đi margin */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ffee53;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px -5px rgb(219, 219, 196);
}



/* Style cho nút gửi */
input[type="submit"] {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 80%;
    background-color: white;
    color: black;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 10px 10px -5px rgb(219, 219, 196);
    transition:all 0.3s linear;
}

/* Hover effect cho nút gửi */
input[type="submit"]:hover {
    background-color: black;
    color: #fae845;
    transform: scale(1.1);
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form-row div {
    flex: 1;
    margin-right: 10px;
    /* Khoảng cách giữa các trường */
}

.form-row label,
.form-row select,
.form-row input {
    width: 100%;
}

#captchaBackground {
    justify-content: center;
    align-items: center;
}

#captcha {
    width: 45%;
    margin: 0 5% 0 0;
}

#captchaCode {
    text-align: center;
    margin-right: 7%;
    width: 35%;
    height: 40px;
    border: 1px solid #ffee53;
    box-shadow: 0px 10px 10px -5px rgb(219, 219, 196);
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
}

#refreshButton {
    border: none;
    width: 30px;
    height: 30px;
    background-color: black;
    box-shadow: 0px 7px 10px -5px rgb(0, 0, 0);
    transition: all 0.2s linear;
}

#refreshButton:hover {
    border-radius: 50%;
    transform: rotate(45deg);
}


#refreshButton i {
    color: white;
}

#form_signUp form small {
    width: 100%;
    height: auto;
}

#form_signUp form small span {
    width: 100%;
    height: 100%;
}